.menu {
  padding: 10px 20px;
  background-color: greenyellow;
  border-radius: 5px;
  transition: all 1s;
  margin-right: 30px;
}
.menu:hover {
  background-color: rgb(100, 121, 70);
  transform: scale(1.1);
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.navContainer nav {
  display: flex;
  flex-direction: column;
}
.navContainer nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 3px;
}
.header {
  padding: 5px 5px 7px 5px;
  border-bottom: 2px dotted #bbb;
  box-shadow: 2px 0 2px #969191;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  background-color: rgba(108, 143, 108, 0.5);
}
.navigationCont {
  display: flex;
  justify-content: space-between;
}
.navigationCont nav {
  display: flex;
  flex-direction: column;
}
.navigationCont nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
.navigationCont nav a:hover {
  color: rgb(41, 38, 38);
}
.btn button {
  background-color: #fa0808;
}
.audio {
  height: 30px;
}
.radioCont legend {
  color: black;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.arey {
  display: flex;
}
